.fuwuList{
	width: 351px;
	height: 378px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	padding: 0 12px;
}
.fuwuItem{
	width: 78.5px;
	height: 119px;
	padding: 20px 8px 20px;
	font-size: 11px;
	color: #28354c;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: hsla(234,9%,79%,.15);
}
.fuwuItem .icon{
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
	background-image: url(../img/fuwu1.webp);
}
.fuwuItem .p{
	color: #4f5264;
}

.wybtn{
	display: block;
	margin: 5px auto;
	width: 327px;
	height: 62px;
	background-image: url(../img/wybtn.png);
	background-size: 100% 100px;
	border-radius: 5px;
}
.twoBtn{
	width: 375;
	height: 89;
	margin: 40px 0;
	padding: 0 12px;
	display: flex;
	justify-content: space-between;
}
.twoBtn a{
	width: 168.47px;
	height: 88.66px;
	background-size: 100% 100%;
	display: flex;
	
}
.twoBtn a:nth-child(1){
	background-image: url(../img/jkx.png);
}
.twoBtn a:nth-child(2){
	background-image: url(../img/lm.png);
}
.swiper{
	width: 375px;
	height: 100px;
	margin: 20px 0 25px ;
	padding: 0 10px ;
}
.swiper img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 375px;
	height: 50px;
	display: flex;
	background: #fff;
}

.footer .itemIcon{
	flex: 1;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



.footer .itemIcon:nth-child(1) .icon{
	width: 25px;
	height: 20px;
	background-image: url(../img/tab1.png);
	background-size: 100% auto;
	background-position: 0 0px;
}

.footer .itemIcon:nth-child(2) .icon{
	background-image: url(../img/tab2.png);
	width: 17px;
	height: 20px;
	background-size: 100% auto;
	background-position: 68px -21px;
}
.footer .itemIcon:nth-child(3) .icon{
	background-image: url(../img/tab3.png);
	width: 20px;
	height: 20px;
	background-size: 100% auto;
	background-position: 0px -43px;
}
.footer .itemIcon:nth-child(4) .icon{
	background-image: url(../img/tab4.png);
	width: 20px;
	height: 20px;
	background-size: 100% auto;
	background-position: 20px -87px;
}
.footer .itemIcon:nth-child(5) .icon{
	background-image: url(../img/tab5.png);
	width: 19px;
	height: 20px;
	background-size: 100% auto;
	background-position: 0px -87px;

}
.footer .itemIcon .text{
	font-size: 12px;
	color: #626a7d;
}
.jksc{
	width: 375px;
	height: 274px;
}
.jksc .header{
	width: 351px;
	height: 33px;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px auto;
	align-items: flex-end;
	padding: 0 0;
}
.jksc .header .title{
	font-size: 25px;
	color: #28354c;
	font-weight: 700;
}
.jksc .header .more{
	color: #83889a;
	font-size: 15px;
}
