*{
	margin: 0;
	padding: 0;
	/*设置盒子的模型为border-box,也即是width和height不会因为padding和border而撑开*/
	box-sizing: border-box;
}
html,body{
	width: 375px;
}
.header{
	width: 375px;
	height: 48px;
	padding: 8px 12px;
	display: flex;
}

.search{
	width: 310px;
	height: 32px;
	background: #ebecf1;
	border-radius: 16px;
	display: flex;
	align-items: center;
	color: #999;
	font-size: 12px;
}
.icon{
	width: 15px;
	height: 15px;
	background-image: url(../img/search.png);
	background-size: 100% 100%;
	margin: 0 15px;
	
}


.qiandao{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.coin{
	width: 26px;
	height: 16px;
	background-image: url(../img/coin.png);
	background-size: 100%;
	animation: xuanzhuan 2s infinite;
	
}

@keyframes xuanzhuan{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg)
	}
}



.coinText{
	font-weight: 900;
	color: #ffd43b;
	font-size: 12px;
}


.iconlist{
	width: 375px;
	height: 142px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.iconItem{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.iconItem h3{
	font-size: 16px;
	padding: 8px 0;
}
.iconItem p{
	width: 70px;
	font-size: 12px;
	color: #999;
	text-align: center;
}
.iconItem .icon{
	width: 34px;
	height: 34px;
	background-size: 100%;
}

.icon1{
	background-image: url(../img/icon1.png);
}
.icon2{
	background-image: url(../img/icon2.png);
}
.icon3{
	background-image: url(../img/icon3.png);
}


.banner{
	width: 351px;
	height: 731px;
	border-radius: 10px;
	margin: 0 auto;
	/*overflow:hidden;溢出去的隐藏*/
	overflow: hidden;
	box-shadow: 0 10px 20px #ccc;
}
.bannerTop{
	width: 351px;
	height: 63px;
	margin: 0 auto;
	position: relative;
}

.banner .bg{
	width: 100%;
	height: 100%;
	
}

.banner .circle{
	width: 80px;
	height: 80px;
	position: absolute;
	right: 6px;
    bottom: -26px;
}


.bannerList{
	width: 351px;
	height: 163px;
	display: flex;
	flex-wrap: wrap;
}
.bannerItem{
	width: 50%;
	height: 75px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.bannerItem .top{
	display: flex;
	margin: 10px 0px 6px;
}
.bannerItem .top .icon{
	width: 20px;
	height: 20px;
	background-size: 100% 100%;
}
.bannerItem .top .icon1{
	background-image: url(../img/group1.png);
}
.bannerItem .top .icon2{
	background-image: url(../img/group2.png);
}
.bannerItem .top .icon3{
	background-image: url(../img/group3.png);
}
.bannerItem .top .icon4{
	background-image: url(../img/group4.png);
}

.bannerItem .top .tagKuai{
	background-image: url(../img/kuai.png);
}
.bannerItem .top .tagDuo{
	background-image: url(../img/duo.png);
}
.bannerItem .top .Text{
	font-weight: 900;
}
.bannerItem .bottom{
	width: 162px;
	height: 20px;
	font-size: 12px;
	color: #999999;
	margin-left: 10px;
}

.bannerItem .bottom.borderOrange{
	border: 1px solid rgba(255,126,59,.5);
	color: #ff7e3b;
	background: rgba(255,126,59,.08);
	border-radius: 10px;
	padding: 0 10px;
}

.tesefuwu{
	width: 351px;
	height: 426px;
}
.tesefuwu .header{
	width: 327px;
	height: 61px;
	margin: 0 auto;
	border-top: 1px solid #eee;
	padding: 25px 0;
	display: flex;
	justify-content: space-between;
}
.tesefuwu .header .title{
	font-weight: 900;
	font-size: 16px;
}
.tesefuwu .header .more{
	font-size: 12px;
	color: #999;
}
